<ion-header>
  <ion-toolbar color="secondary-tint">
    <ion-buttons side="start">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-title>Descripción</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <h1> Descripción del Programa </h1>
        <h4> Nombre del Programa</h4>
        <p> {{program.name}} </p>
          <h4> Modalidad de Formación </h4>
          <p> {{program.jornada}} </p>
            <h4> Tipo de Programa</h4> 
            <p> {{program.nivelForm}} </p>
              <h4> Requisitos</h4>
              <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem voluptatem, tenetur commodi aliquid enim quisquam voluptatibus dolorem debitis aut quam dignissimos quasi aspernatur, corrupti ullam repellat impedit illum, quibusdam ipsa! </p>
              
    <ion-button color="medium"  (click)="share()">
      <ion-icon size="medium"  name="share" slot="icon-only" ></ion-icon>
    </ion-button>
  </ion-card> 
</ion-content>