<ion-header no-border>
  <app-sub-header titulo="Editar perfíl"></app-sub-header>
</ion-header>

<ion-content> 

  <ion-row>  
    <ion-col> 
      <ion-button  color="medium" expand="block" Href='/act-datos'> 
        Actualizar Datos Basicos
          <ion-icon name="create"  slot="end"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button color="medium" expand="block"> 
        Cambiar Foto del Perfil
          <ion-icon  name="contact" slot="end"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button  color="medium" expand="block"> 
        Modificar Contraseña
          <ion-icon name="unlock" slot="end"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
 
</ion-content>