<ion-header no-border>
  <ion-toolbar>
    <img src="/assets/icon/cabezote.png" class="cover-full">
  </ion-toolbar>
</ion-header>
  
<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-label  position="floating"> Email </ion-label>
      <ion-input type= "text" [(ngModel)]="user.email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label  position="floating"> Contraseña </ion-label>
      <ion-input type= "password" [(ngModel)]="user.password" required></ion-input>
    </ion-item>

    <!-- <ion-row> -->
      <ion-button  (click)="onLogin()"> Ingresar </ion-button>
      <ion-button  href="/register"> New </ion-button>
    <!-- </ion-row> -->
    
    <ion-buttons>
      <ion-button size="default" (click)="onLoginFacebook()">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button size="default" (click)="onLoginGoogle()">
        <ion-icon name="logo-google"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-card>
</ion-content>
  