<ion-header no-border>
  <app-sub-header titulo="Eventos"> </app-sub-header>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngFor= "let noticia of noticiaSena">
    <ion-card-title (click)="openNews()">{{noticia.titulo}}</ion-card-title>
      <a href="{{noticia.url}}">Ver más</a>
        <ion-img src="/assets/icon/{{noticia.img}}"></ion-img>    
          <ion-card-content>
            {{noticia.contenido}}
          </ion-card-content>
            <ion-buttons > 
              <ion-button color="tertiary">
                <ion-icon name="heart"> </ion-icon>
              </ion-button>
              <ion-button color="tertiary" (click)="shareNoticia()">
                <ion-icon name="share"> </ion-icon>
              </ion-button>
              <ion-button color="tertiary">
                <ion-icon name="logo-twitch"> </ion-icon>
              </ion-button>
            </ion-buttons>
  </ion-card>
</ion-content>

