<ion-header>
  <ion-toolbar color="secondary-tint">
    <ion-buttons>
    <ion-button side="start">
      <ion-back-button defaultHref="/"></ion-back-button>
        <ion-title>{{titulo}}</ion-title>
    </ion-button>
  
  </ion-buttons>
 <ion-toolbar>
    <ion-buttons slot="end">
     <!--<ion-button color="primary" slot="end" (click)="mostrarPop($event)">
        
        <ion-icon name="md-more" slot="icon-only" ></ion-icon>
      </ion-button>-->
      <ion-button  color="primary" side="end" type="push"  [routerLink]="['/notificaciones']">
        <ion-icon name="notifications" ></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="singOut()">
        <ion-icon name="md-exit" ></ion-icon>
      </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>
       
   
  
    <hr color="green">
</ion-header>