<ion-header no-border>
  <ion-toolbar>
    <img src="/assets/icon/cabezote.png" class="cover-full">
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-label position="floating"> Email </ion-label>
        <ion-input type= "text" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Contraseña </ion-label>
        <ion-input type= "password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
    <ion-row>
      <ion-button color="medium" (click)="onRegister()">Registrarse</ion-button>
        <ion-button color="medium"  href="/">Ingresar</ion-button>
    </ion-row>
  </ion-card>
</ion-content>
