<ion-header>
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>
      Email
    </ion-label>
    <ion-input type= "text" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label>
        Contraseña
      </ion-label>
      <ion-input type= "password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
    <ion-buttons>
      <ion-button size="medium" (click)="onRegister()">Registrarse</ion-button>
      <ion-button size="medium" href="/">Ingresar</ion-button>
    </ion-buttons>

</ion-content>
